<div class="field">
  <%= bulma_tag(color: :black) { "Black" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :dark) { "Dark" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :light) { "Light" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :white) { "White" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :primary) { "Primary" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :link) { "Link" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :info) { "Info" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :success) { "Success" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :warning) { "Warning" } %>
</div>
<div class="field">
  <%= bulma_tag(color: :danger) { "Danger" } %>
</div>
