<div class="field">
  <%= render(Bulma::TagComponent.new(color: :black)) { "Black" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :dark)) { "Dark" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :light)) { "Light" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :white)) { "White" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :primary)) { "Primary" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :link)) { "Link" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :info)) { "Info" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :success)) { "Success" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :warning)) { "Warning" } %>
</div>
<div class="field">
  <%= render(Bulma::TagComponent.new(color: :danger)) { "Danger" } %>
</div>
