<div class="buttons">
  <%= render(Bulma::ButtonComponent.new(color: :white)) { "White" } %>
  <%= render(Bulma::ButtonComponent.new(color: :light)) { "Light" } %>
  <%= render(Bulma::ButtonComponent.new(color: :dark)) { "Dark" } %>
  <%= render(Bulma::ButtonComponent.new(color: :black)) { "Black" } %>
  <%= render(Bulma::ButtonComponent.new(color: :text)) { "Text" } %>
  <%= render(Bulma::ButtonComponent.new(color: :ghost)) { "Ghost" } %>
</div>

<div class="buttons">
  <%= render(Bulma::ButtonComponent.new(color: :primary)) { "Primary" } %>
  <%= render(Bulma::ButtonComponent.new(color: :link)) { "Link" } %>
  <%= render(Bulma::ButtonComponent.new(color: :info)) { "Info" } %>
  <%= render(Bulma::ButtonComponent.new(color: :success)) { "Success" } %>
  <%= render(Bulma::ButtonComponent.new(color: :warning)) { "Warning" } %>
  <%= render(Bulma::ButtonComponent.new(color: :danger)) { "Danger" } %>
</div>

<div class="buttons">
  <%= render(Bulma::ButtonComponent.new(color: :primary, light: true)) { "Primary" } %>
  <%= render(Bulma::ButtonComponent.new(color: :link, light: true)) { "Link" } %>
  <%= render(Bulma::ButtonComponent.new(color: :info, light: true)) { "Info" } %>
  <%= render(Bulma::ButtonComponent.new(color: :success, light: true)) { "Success" } %>
  <%= render(Bulma::ButtonComponent.new(color: :warning, light: true)) { "Warning" } %>
  <%= render(Bulma::ButtonComponent.new(color: :danger, light: true)) { "Danger" } %>
</div>
