<div class="buttons">
  <%= bulma_button(color: :white) { "White" } %>
  <%= bulma_button(color: :light) { "Light" } %>
  <%= bulma_button(color: :dark) { "Dark" } %>
  <%= bulma_button(color: :black) { "Black" } %>
  <%= bulma_button(color: :text) { "Text" } %>
  <%= bulma_button(color: :ghost) { "Ghost" } %>
</div>

<div class="buttons">
  <%= bulma_button(color: :primary) { "Primary" } %>
  <%= bulma_button(color: :link) { "Link" } %>
  <%= bulma_button(color: :info) { "Info" } %>
  <%= bulma_button(color: :success) { "Success" } %>
  <%= bulma_button(color: :warning) { "Warning" } %>
  <%= bulma_button(color: :danger) { "Danger" } %>
</div>

<div class="buttons">
  <%= bulma_button(color: :primary, light: true) { "Primary" } %>
  <%= bulma_button(color: :link, light: true) { "Link" } %>
  <%= bulma_button(color: :info, light: true) { "Info" } %>
  <%= bulma_button(color: :success, light: true) { "Success" } %>
  <%= bulma_button(color: :warning, light: true) { "Warning" } %>
  <%= bulma_button(color: :danger, light: true) { "Danger" } %>
</div>
