<div class="content">
  <%= bulma_image size: "16x16" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "24x24" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "32x32" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "48x48" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "64x64" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "96x96" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>

  <%= bulma_image size: "128x128" do %>
    <%= image_tag 'ruby.png' %>
  <% end %>
</div>
