<div class="content">
  <%= bulma_image size: "16x16" do %>
    <img src="https://bulma.io/images/placeholders/16x16.png">
  <% end %>

  <%= bulma_image size: "24x24" do %>
    <img src="https://bulma.io/images/placeholders/24x24.png">
  <% end %>

  <%= bulma_image size: "32x32" do %>
    <img src="https://bulma.io/images/placeholders/32x32.png">
  <% end %>

  <%= bulma_image size: "48x48" do %>
    <img src="https://bulma.io/images/placeholders/48x48.png">
  <% end %>

  <%= bulma_image size: "64x64" do %>
    <img src="https://bulma.io/images/placeholders/64x64.png">
  <% end %>

  <%= bulma_image size: "96x96" do %>
    <img src="https://bulma.io/images/placeholders/96x96.png">
  <% end %>

  <%= bulma_image size: "128x128" do %>
    <img src="https://bulma.io/images/placeholders/128x128.png">
  <% end %>
</div>
